
body {
background-color: #ffffff;
background-repeat:no-repeat;
}


#tableMain
{
	//background-color: #818455;
	background-color: #eeeeee;
	width: 100%;
	border: 0px;
	padding: 0px;
}

#bodyContentTable
{
	margin-top: 10px;
	width: 100%; 
	border: 2px;
	border-style: none;
	border-color: #336633;
	padding: 5px;
	vertical-align: top;
}

td.gallery
{
	width: 80%; 
	border: 2px;
	border-style: none;
	border-color: #336633;
	padding: 5px;
	vertical-align: top;
}

#bodyContentTable_Services
{
	margin-top: 15px;
	width: 85%; 
	border: 2px;
	border-style: none;
	border-color: #336633;
	padding: 5px;
	vertical-align: top;
}

.hiddenPic {display:none;}

	#scroller {
     margin: 0px;
	 text-align: left;
	 //width: 1010px;
	 width: 65%;
     height: 230px;
     border: inset 3px #1C5453;
     background: #000000;
     overflow: scroll;
 	}


#scrollerNEW {
     margin: 0px;
	 text-align: left;
	 //width: 1010px;
	 width: 65%;
     height: 220px;
     border: none;
     background-color: #eeeeee;
     overflow: auto;
 	}	
	
	#scroller_3d {
     margin: 0px;
	 text-align: left;
	 //width: 1010px;
	 width: 65%;
     height: 230px;
     border: inset 3px #1C5453;
     background: #000000;
     overflow: scroll;
 	}

	#homePgSlideshow {
     text-align: center;
	 width: 300px;
     border: ridge 6px #282828;
     /*background: #000000;*/
 	}

#header
{
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
//	vertical-align: top;
}

#header_main
{
	text-align: center;
	color: #336633;
	font-size: 36px;
	font-weight: bold;
	font-family: sans-serif;
	font-face: Arial;
}

#header_sub
{
	text-align: center;
	color: #336633;
	font-size: 12px;
	font-family: sans-serif;
	font-face: Arial;
	
}

#hdrTab
{
	outline: 3px solid #282828;
	width: 440px; 
	border: 0px;
	padding: 0px;
	margin: auto;
	background-color: #cccc99;
}

#navTab
{
	//background-color: #282828;	
	background-color: #336633;	
	border: 2px;
	border-style: solid;
	border-radius: 10px;
	border-color: #ffffff;
}

#navTab2
{
	background-color: #669933;
	
}

#navTab3
{
	background-color: #993300;
	
}

#nav
{
	text-align: center;
	font-size: 16px;
	color: #336633;
	font-family: sans-serif, Verdana;
	font-weight: normal;
}


	td.nav {
		//width: 112px;
		text-align: center;
		padding: 5px;
		border: 2px;
		border-style: none;
		border-radius: 10px;
		border-color: #ffffff;
		}

	a.nav {
		text-decoration: none;
		font-size: 16px;
		color: #336633;
		font-family: sans-serif, Verdana;
		font-weight: bold;
		display: block;
		margin-left: 5px;
		margin-right: 5px;
		  }
	a.nav:link {
		font-size: 16px;
		color: #336633;
		font-family: sans-serif, Verdana;
		font-weight: bold;
		 }
	a.nav:visited {
		font-size: 16px;
		color: #336633;
		font-family: sans-serif, Verdana;
		font-weight: bold;
	  	}
	a.nav:hover {
		background: #336633;
		color: white;
		font-size: 16px;
		font-family: sans-serif, Verdana;
		font-weight: bold;
		}
	a.nav:active {
		font-size: 16px;
		color: #336633;
		font-family: sans-serif, Verdana;
		font-weight: bold;
		}


.homeBody1
{
//	outline: 2px solid #282828;
	margin-left: 100px;
	margin-right: 100px;
	font-size: 14px;
}


.homeBody2
{
//	outline: 2px solid #282828;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 55px;
	font-size: 14px;
	padding: 5px;
}

p {
	font-family:Verdana;
	font-size:14px;
	//color:#FFFFFF;
	color: #282828;
	font-weight:normal;
	font-style:normal;
	margin-left: 40px;
	margin-right: 40px;
	padding:0px;
}

.p_home {
	font-family:Verdana;
	font-size:14px;
	//color:#FFFFFF;
	color: #282828;
	font-weight:normal;
	font-style:normal;
	margin-left: 60px;
	margin-right: 60px;
	padding:10px;
}


.p_process {
	font-family:Verdana;
	font-size:14px;
	//color:#FFFFFF;
	color: #282828;
	font-weight:normal;
	font-style:normal;
	margin-left: 80px;
	margin-right: 80px;
	padding:10px;
}

.li_p_process {
	font-family:Verdana;
	font-size:14px;
	//color:#FFFFFF;
	color: #282828;
	font-weight:normal;
	font-style:normal;
	margin: auto;
	text-align: center;
	//margin-left: 80px;
	//margin-right: 80px;
	padding:10px;
}

.img_pavers {
	margin-left: 10px;
	margin-right: 10px;
	padding:10px;
	//float:left;
	border:none;
}


div.pavers_left
{
float:left;
width:160px;
margin:0;
padding:1em;
border-right:1px solid gray;
}
div.content
{
margin-left:190px;

padding:1em;
}

#footerDiv
{
background-color: #336633;
}

#footer1
{
	font-size: 11px; 
	color: #ffffff;
	margin-top: 50px;
}

#footer2
{
	font-size: 10px; 
	color: #ffffff;
}

#footer3
{
	font-size: 9px; 
	color: #ffffff;
}


/*
table {
	font-family:Verdana;
	font-size:9pt;
	color:#FFFFFF;
	font-weight:normal;
	font-style:normal;
	margin:0px;
	padding:0px;
}
*/


/*
div {
	font-family:Verdana;
	font-size:9pt;
	color:#FFFFFF;
	font-weight:normal;
	font-style:normal;
	margin:0px;
	padding:0px;
}
*/

li {
	font-family:Verdana;
	font-size:14px;
	//color:#FFFFFF;
	color: #282828;
	font-weight:normal;
	font-style:normal;
	margin-left: 15px;
	margin-right: 80px;
	padding:0px;
}

h1 {
	font-family:Verdana;
	font-size:13px;
	color:#336633;
	font-weight:bold;
	font-style:normal;
	margin:5px;
	padding:5px;
}


.normal {
	font-family:Verdana;
	font-size:9pt;
	color:#FFFFFF;
	font-weight:normal;
	font-style:normal;
	margin:0px;
	padding:0px;
}

.h1 {
	font-family:Verdana;
	font-size:10pt;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
	margin:0px 0px 4px 0px;
	padding:0px;
}
.h2 {
	font-family:Verdana;
	font-size:8pt;
	color:#FFFFFF;
	font-weight:bold;
	font-style:normal;
	text-transform:uppercase;
	text-decoration:none;
	margin:0px 0px 2px 0px;
	padding:0px;
}

h3 {
	font-family:Verdana;
	font-size:14px;
	color: #003300;
	font-weight:bold;
	font-style:normal;
	text-transform:uppercase;
	text-decoration:none;

}
.h4 {
	font-family:Verdana;
	font-size:14pt;
	color:#FFFFFF;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	margin:5px 0px 5px 0px;
	padding:0px;
}
.h5 {
	font-family:Arial,Verdana;
	font-size:11px;
	color:#FFFFFF;
	font-weight:bold;
	font-style:italic;
	margin:4px 0px 0px 0px;
	padding:0px;
}
.h6 {
	font-family:Verdana;
	font-size:11px;
	color:#FFFFFF;
	font-weight:bold;
	letter-spacing:1px;
	margin:4px 0px 0px 0px;
	padding:0px;
}
.Separator {
	font-family:Verdana,sans-serif;
	font-size:1px;
	color:#000000;
	line-height:1px;
	margin:6px 0px 6px 0px;
	padding:0px;
	background-image:url(gre/gre532.png);
	background-position:left center;
	background-repeat:repeat-x;
}
.ImageHeading {
	font-family:Verdana;
	font-size:11pt;
	color:#FFFFFF;
	font-weight:bold;
	font-style:normal;
	margin:8px 0px 4px 0px;
	padding:0px;
}
.ImageText {
	font-family:Verdana;
	font-size:9pt;
	color:#FFFFFF;
	font-style:normal;
	margin:0px;
	padding:0px;
}

.formLabels {
	font-family:Verdana;
	font-size:9pt;
	color:#282828;
	font-weight: normal;
	font-style:normal;
	margin: 0px;
	padding:0px;
}



// Process page
//	@page { margin: 0.79in }
//	P { margin-bottom: 0.08in; direction: ltr; color: #000000; widows: 0; orphans: 0 }
	P.western { font-family: "Times New Roman", serif; font-size: 12pt; so-language: en-US }
	
	.p_western {color: #336633; margin-bottom: 0in; margin-left: 20px; margin-right: 20px; text-decoration: none; font-family:Verdana; font-size: 14px; font-weight: bold;}


	
	
	P.cjk { font-family: "Verdana Unicode MS", sans-serif; font-size: 12pt; so-language: zxx }
	P.ctl { font-family: "Tahoma"; font-size: 12pt; so-language: zxx }
//	H1 { margin-bottom: 0.08in; direction: ltr; color: #000000; widows: 0; orphans: 0 }
	.h1_western { text-align: center; color: #336633; font-family: "Verdana", sans-serif; font-size: 16pt; margin: auto; so-language: en-US }
	H1.cjk { font-family: "MS Mincho"; font-size: 16pt; so-language: zxx }
	H1.ctl { font-family: "Tahoma"; font-size: 16pt; so-language: zxx }
